*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    /* display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; */
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    vertical-align: top;
}

iframe {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    appearance: none;
    padding: unset;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

small {
    font-size: inherit;
}